.page{
    text-align: center;
    width: 100%;
}

.pagination{
    list-style: none;
    display: inline-block;
    padding: 0px;
    margin-top: 20px;
}

.pagination li{
    display: inline;
    text-align: center;
}