<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>가입 승인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/page.css" />
	</head>
	<body>

		<!-- Header -->
		<header th:include="html/header.html"></header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special" style="margin-bottom: 2em;">
						<h2><a href="/registUser">가입 승인</a></h2>
					</header>

					<table id="userTable">
						<thead>
						<tr>
							<th width="10%">ID</th>
							<th width="10%">이름</th>
							<th width="10%">학번</th>
							<th width="15%">학과</th>
							<th width="17%">핸드폰 번호</th>
							<th width="18%">가입신청일</th>
							<th width="20%">가입 승인</th>
						</tr>
						</thead>
						<tbody>

						<tr th:each="user : ${userList}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.studentId}"></td>
							<td th:text="${user.department}"></td>
							<td th:text="${user.phoneNumber}"></td>
							<td th:text="${#temporals.format(user.registRequestTime,'yyyy-MM-dd HH:mm')}"></td>
							<td>
								<button id="authorize" th:onclick="'javascript:authorize('+ ${user.idx} +')'">승인</button>
								<button id="unauthorize" th:onclick="'javascript:unauthorize('+ ${user.idx} +')'">거절</button>
							</td>
						</tr>
						</tbody>
					</table>

					<!-- Pagination -->
					<div class="page">
						<ul class="pagination" th:with="startNumber=${T(Math).floor(userList.number/10)}*10+1, endNumber=(${userList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${userList.totalPages}">
							<li><a aria-label="Previous" href="/registUser?page=1">&laquo;</a></li>
							<li th:style="${userList.first} ? 'display:none'">
								<a th:href="@{/registUser(page=${userList.number})}">&lsaquo;</a>
							</li>
							<li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${userList.number}+1) ? 'active' : ''">
								<a th:href="@{/registUser(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
							</li>
							<li th:style="${userList.last} ? 'display:none'">
								<a th:href="@{/registUser(page=${userList.number}+2)}">&rsaquo;</a>
							</li>
							<li><a aria-label="Next" th:href="@{/registUser(page=${userList.totalPages})}">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/user.js"></script>
	</body>
</html>