<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SPLUG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><strong><a href="/" style="font-size: 40px;">SPLUG</a></strong></h1>
			<nav id="nav">
				<ul>
					<li><a href="/">홈</a></li>
					<li><a href="/notice">공지사항</a></li>
					<li><a href="/free">자유게시판</a></li>
					<li><a href="/activity">활동</a></li>
					<li><a href="/account">회계</a></li>
				</ul>
			</nav>
		</header>

		<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>SPLUG</h2>
				<p>Soongsil Power Linux User Group <br /> 숭실대학교 컴퓨터학부 & 소프트웨어학부 리눅스 소모임</p>
				<ul class="actions">
					<li th:if="${sessionUser == null}"><a href="/regist" class="button special big">회원가입</a></li>
					<li th:if="${sessionUser == null}"><a href="/login" class="button special big">로그인</a></li>
					<li th:if="${sessionUser != null}"><a href="/logout" class="button special big">로그아웃</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>SPLUG</h2>
									<p>Soongsil Power Linux User Group</p>
									<div style="text-align: center;">
										<div class="image rounded"><img src="images/Linux.png" alt="" /></div>
									</div>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p> &nbsp;&nbsp;SPLUG(스플럭)은 Soongsil Power Linux User Group 의 약자입니다.
									1998년 5월 숭실대학교 정보과학대 컴퓨터학부 학생들이 주측이 되어 만든
									모임으로 리눅스를 연구하고 전파하며, 정보를 공유하고 SPLUG의 리눅스 서버를
									운영할 목적으로 태어났습니다. 우리는 계속해서 리눅스를 사랑하고 리눅스 범용화에 앞장설 것입니다.</p>
								<p> &nbsp;&nbsp;1997~1998년도 12월~1월쯤 당시 리눅스에 열정을 보이던
									장승규님의 제안으로 장승규외 3인이 모여 스플럭의 홈페이지를 처음으로
									가동하기 시작했습니다. 그 때는 소모임이라는 개념이라기 보다 그냥 좋아서 공부하고 그런 동기였습니다.
									그러다가 1998년 5월 숭실대학교 컴퓨터학부 한 강의실에 여러명이 모여
									SPLUG이란 이름을 짓고 정식 소모임으로 발돋음 하였습니다.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>SPLUG 활동</h2>
						</header>

						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/pic02.jpg" alt="" />
									<h3>활동 1</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="images/pic03.jpg" alt="" />
									<h3>활동 2</h3>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>SPLUG 연간 활동 계획</h2>
							<p>2020년도</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>4월</h4>
										<p>컴퓨터학부 총 MT</p>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>8월</h4>
										<p>정회원 심사</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>9월</h4>
										<p>축제 주점 운영</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>10월</h4>
										<p>오픈 세미나 진행</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Aenean elementum ligula</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>서울특별시 동작구 상도로 369 정보과학관</li>
						<li>회장 : OOO
						<li>부회장 : OOO
						<li>총무 : OOO
						<li>Templates Designed by <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>