<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>공지사항</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/page.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/" style="font-size: 30px;">SPLUG</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">홈</a></li>
						<li><a href="/notice">공지사항</a></li>
						<li><a href="/free">자유게시판</a></li>
						<li><a href="#">활동</a></li>
						<li><a href="#">회계</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special" style="margin-bottom: 2em;">
						<h2>공지사항</h2>
					</header>

					<table>
						<thead>
						<tr>
							<th class="col-2">글 번호</th>
							<th class="col-6">제목</th>
							<th class="col-2">작성자</th>
							<th class="col-2">작성 날짜</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="post : ${postList}">
							<td th:text="${post.idx}"></td>
							<td><a th:href="'/read?idx='+${post.idx}" th:text="${post.title}"></a></td>
							<td th:text="testest"></td>
							<td th:text="${#temporals.format(post.updatedDate,'yyyy-MM-dd HH:mm')}"></td>
						</tr>
						</tbody>
					</table>

					<!-- Pagination -->
					<div class="page">
						<ul class="pagination" th:with="startNumber=${T(Math).floor(postList.number/10)}*10+1, endNumber=(${postList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${postList.totalPages}">
							<li><a aria-label="Previous" href="/notice?page=1">&laquo;</a></li>
							<li th:style="${postList.first} ? 'display:none'">
								<a th:href="@{/notice(page=${postList.number})}">&lsaquo;</a>
							</li>
							<li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${postList.number}+1) ? 'active'">
								<a th:href="@{/notice(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
							</li>
							<li th:style="${postList.last} ? 'display:none'">
								<a th:href="@{/notice(page=${postList.number}+2)}">&rsaquo;</a>
							</li>
							<li><a aria-label="Next" th:href="@{/notice(page=${postList.totalPages})}">&raquo;</a></li>
						</ul>

						<div style="float: right;">
							<button class="button" style="vertical-align: center" onclick="location.href='/post'">글 쓰기</button>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>