<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>자유게시판</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		<header th:include="html/header.html"></header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container" style="overflow: hidden">

					<header class="major special" style="margin-bottom: 2em;">
						<h2 th:text="${post.postType.value}"></h2>
					</header>

					<input id="post_idx" type="hidden" th:value="${post?.idx}"/>
					<input id="post_type" type="hidden" th:value="${post?.postType}"/>

					<div style="float: right">
						<a th:onclick="'window.location.href=\'/postUpdate?idx=' + ${post.idx} + '\''" th:if="${sessionUser.id == post.user.id}">수정</a>
						<a id="post_delete" th:if="${sessionUser.id == post.user.id}">삭제</a>
					</div>
					<table class="table" style="min-height: 300px;">
						<tr style="height: 30px;">
							<th width="10%" style="vertical-align: middle; padding: 1.25em 0 1.25em 0.75em">제목</th>
							<td width="90%" style="vertical-align: middle" ><h1 style="margin-bottom: 0px;" th:text="${post?.title}"></h1></td>
						</tr>
						<tr>
							<th width="10%" style="vertical-align: middle; padding: 0 0 0 0.75em">내용</th>
							<td width="90%" style="min-height: 200px;"><p th:utext="${post?.content}"></p></td>
						</tr>
					</table>

					<h3>댓글</h3>
					<table class="table" id="comment_table">
						<tr>
							<th width="15%" class="col-2">작성자</th>
							<th width="65%" class="col-6">내용</th>
							<th width="20%" class="col-2"></th>
						</tr>

						<tr th:if="${post.commentCount == 0}">
							<td colspan="3" style="text-align: center">등록된 댓글이 없습니다.</td>
						</tr>

						<tr th:each="comment : ${commentList}">
							<input th:value="${comment.idx}" type="hidden"/>
							<td th:text="${comment.user.name}"></td>
							<td th:utext="${comment.content}"></td>
							<td th:text="${#temporals.format(comment.updatedDate,'yyyy-MM-dd HH:mm')}"></td>
						</tr>
					</table>

					<div style="float: left; width: 80%; margin-right: 3%;">
						<textarea id="post_comment" name="post_comment" placeholder="댓글 쓰기" style="resize: none;"></textarea>
					</div>
					<div style="float: right; width: 15%;">
						<button class="button fit" id="comment_save">댓글 작성</button>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/comment.js"></script>
			<script src="assets/js/post.js"></script>

	</body>
</html>