<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SPLUG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/ckeditor/ckeditor.js"></script>
	</head>
	<body>

		<!-- Header -->
		<header th:include="html/header.html"></header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special" style="margin-bottom: 0px;">
						<h2>글쓰기</h2>
					</header>

					<input id="sessionUser_roleType" type="hidden" th:value="${sessionUser.roleType.name()}"/>
					<input id="post_idx" type="hidden" th:value="${post?.idx}"/>

					<div>
						<div class="md-3">
							<label for="type">게시판</label>
							<select class="form-control imput-sm" id="type" name="type">
								<option>--게시판--</option>
								<option th:value="notice" th:selected="${post?.postType?.name() == 'notice'}">공지사항</option>
								<option th:value="free" th:selected="${post?.postType?.name() == 'free'}">자유게시판</option>
								<option th:value="activity" th:selected="${post?.postType?.name() == 'activity'}">활동게시판</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="title">제목</label>
							<input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요" maxlength="40" th:value="${post?.title}">
						</div>
						<div class="mb-6">
							<label for="content">내용</label>
							<textarea class="form-control" rows="10" name="content" id="content" placeholder="내용을 입력해 주세요" th:utext="${post?.content}"></textarea>
							<script>
								CKEDITOR.replace('content', {
									extraPlugins: 'image2, uploadimage, imageresize',

									filebrowserImageUploadUrl: '/api/v1/imageUpload?command=QuickUpload&type=Images?max=600',
									removeDialogTabs: 'image:advanced; link:advanced; maximize',

									height: 500,
								});
							</script>
						</div>
					</div>

					<div style="margin-top: 30px;">
						<button style="float: left" class="btn" onclick="history.back()">목록으로</button>
						<button th:if="!${post?.idx}" style="float: right" type="button" id="save">글 쓰기</button>
						<button th:if="${post?.idx}" style="float: right" type="button" id="post_update">완료</button>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/post.js"></script>

	</body>
</html>