<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SPLUG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>

		<style>
			.ck-editor__editable{
				min-height: 400px;
				max-height: 400px;
			}
		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/" style="font-size: 30px;">SPLUG</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">홈</a></li>
						<li><a href="/notice">공지사항</a></li>
						<li><a href="/free">자유게시판</a></li>
						<li><a href="#">활동</a></li>
						<li><a href="#">회계</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special" style="margin-bottom: 0px;">
						<h2>글쓰기</h2>
					</header>

					<div>
						<div class="md-3">
							<label for="type">게시판</label>
							<select class="form-control imput-sm" id="type" name="type">
								<option>--게시판--</option>
								<option th:value="notice" th:selected="${post?.postType?.name() == 'notice'}">공지사항</option>
								<option th:value="free" th:selected="${post?.postType?.name() == 'free'}">자유게시판</option>
							</select>
						</div>
						<div class="mb-3">
							<label for="title">제목</label>
							<input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
						</div>
						<div class="mb-6">
							<label for="content">내용</label>
							<textarea style="color: black" class="form-control" rows="10" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
						</div>
					</div>

					<div style="margin-top: 30px;">
						<button style="float: left" class="btn" onclick="history.back()">목록으로</button>
						<button style="float: right" class="btn" id="save">글 쓰기</button>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/post.js"></script>
	</body>
</html>

<script>
	let editor;

	ClassicEditor
			.create( document.querySelector( '#content' ) )
			.then(newEditor => {
				editor = newEditor;
			})
			.catch( error => {
				console.error( error );
			} );

</script>