<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>자유게시판</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/" style="font-size: 30px;">SPLUG</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">홈</a></li>
						<li><a href="/notice">공지사항</a></li>
						<li><a href="/board">자유게시판</a></li>
						<li><a href="#">활동</a></li>
						<li><a href="#">회계</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special" style="margin-bottom: 2em;">
						<h2>글쓰기</h2>
					</header>

					<input id="board_idx" type="hidden" th:value="${post?.idx}"/>
					<table class="table">
						<tr>
							<th style="padding: 13px 0 0 15px;">게시판 선택</th>
							<td>
								<div class="pull-left">
									<select class="form-control imput-sm" id="post_type" name="post_type">
										<option>--게시판--</option>
										<option th:value="notice" th:selected="${post?.postType?.name() == 'notice'}">공지사항</option>
										<option th:value="free" th:selected="${post?.postType?.name() == 'free'}">자유게시판</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<th style="padding: 13px 0 0 15px;">제목</th>
							<td><input id="post_title" name="post_title" type="text" class="col-md-1 form-control input-sm" th:value="${post?.title}"/></td>
						</tr>
						<tr>
							<th style="padding: 13px 0 0 15px;">내용</th>
							<td><textarea id="post_content" name="post_content" class="col-md-1 form-control input-sm" style="height: 350px;" th:text="${post?.content}"></textarea><span class="help-block"></span></td>
					</table>

					<div class="bottom-button">
						<div class="pull-left">
							<button class="btn btn-primary" onclick="history.back()">목록으로</button>
						</div>

						<div class="pull-right">
							<button th:if="!${post?.idx}" type="button" class="btn btn-primary" id="save">글 쓰기</button>
							<button th:if="${post?.idx}" type="button" class="btn btn-primary" id="update">완료</button>
						</div>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/post.js"></script>

	</body>
</html>