<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>자유게시판</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/" style="font-size: 30px;">SPLUG</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">홈</a></li>
						<li><a href="/notice">공지사항</a></li>
						<li><a href="/board">자유게시판</a></li>
						<li><a href="#">활동</a></li>
						<li><a href="#">회계</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special" style="margin-bottom: 2em;">
						<h2 th:text="${post.postType.value}"></h2>
					</header>

					<input id="post_idx" type="hidden" th:value="${post?.idx}"/>
					<input id="post_type" type="hidden" th:value="${post?.postType}"/>
					<table class="table">
						<tr>
							<th>제목</th>
							<td><textarea id="post_title" name="post_title" th:text="${post?.title}" readonly/></td>
						</tr>
						<tr>
							<th>내용</th>
							<td><textarea id="post_content" name="post_content" style="height: 350px;" th:text="${post?.content}" readonly></textarea></td>
						</tr>

						<tr>
							<th>댓글</th>
							<td><textarea id="post_comment" name="post_comment" placeholder="댓글 쓰기" style="resize: none;"></textarea><button class="btn" id="save">댓글 쓰기</button></td>
						</tr>

						<tr th:each="comment : ${commentList}">
							<th th:text="${comment.user.name}"></th>
							<td th:text="${comment.content}"></td>
						</tr>
					</table>

					<div class="bottom-button">
						<div class="pull-left">
							<button class="btn btn-primary" onclick="history.back()">목록으로</button>
						</div>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/comment.js"></script>

	</body>
</html>