<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

<!-- Header -->
<header th:include="html/header.html"></header>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container" style="max-width: 500px; min-width: 460px;">

        <header class="major special" style="margin-bottom: 2em;">
            <h2>회원가입</h2>
        </header>

        <!-- 아이디, 비밀번호 입력 -->
        <div class="row_group">
            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">아이디</h3>
                <input type="text" id="id" name="id" class="int" title="ID" maxlength="20" required>
            </div>

            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">비밀번호</h3>
                <input type="password" id="pswd1" name="pswd1" class="int" title="비밀번호 입력" aria-describedby="pswd1Msg" maxlength="20" required>

                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">비밀번호 재확인</h3>
                <input type="password" id="pswd2" name="pswd2" class="int" title="비밀번호 재확인 입력" aria-describedby="pswd2Blind" maxlength="20" required>
            </div>

            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">학번</h3>
                <input type="text" id="studentId" name="studentId" class="int" title="학번" maxlength="20" required>
            </div>

            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">이름</h3>
                <input type="text" id="name" name="name" title="이름" class="int" maxlength="20" required>
            </div>

            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">생년월일</h3>
                <input type="text" id="birthday" name="birthday" title="생년월일" class="int" maxlength="7" placeholder="ex) 960428" required>
            </div>

            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">학과</h3>
                <select name="department" id="department">
                    <option value>-- 학과 --</option>
                    <option value="computer">컴퓨터학부</option>
                    <option value="software">소프트웨어학부</option>
                    <option value="other">기타</option>
                </select>
            </div>

            <div class="join_row">
                <h3 class="join_title" style="margin: 20px 0px 5px 0px;">핸드폰 번호</h3>
                <input type="text" id="phoneNumber" name="phoneNumber" title="핸드폰 번호" class="int" maxlength="13" placeholder="ex) 010-1234-5678" required>
            </div>
        </div>

        <div class="row_group" style="width: 100%; margin-top: 40px;">
            <button style="margin-left: 2.5%; width: 45%;" onclick="location.href='/'" class="button alt">취소</button>
            <button style="margin-left: 2.5%; width: 45%;" id="regist" class="button special">가입하기</button>
        </div>

    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-facebook"></a></li>
            <li><a href="#" class="icon fa-twitter"></a></li>
            <li><a href="#" class="icon fa-instagram"></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
            <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/regist.js"></script>

</body>
</html>